h2 {
    text-align: center;
    color: grey;
    margin-bottom: 60px;
}

swiper{
    height: 300px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.swiper-wrapper {
    box-sizing: border-box;
}

.swiper-slide{
    width: 100% !important;
}

.affix {
    margin:10px;
    left : 50%;
}


.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.addOptionForMobile {
  display: none;
} 


@media only screen and (max-width : 720px) {
  .affix {
    display: none;
  }
  .addOptionForMobile {
    width: 100%;
    padding:2rem;
    position: fixed;
    bottom: 0rem;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid salmon;
    z-index: 200;
  }

  .btn {
    height: 50%;
  }


}