<div class="container">
    <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
    [speed]="200" [showSpinner]="false" [direction]="'rightToLeftIncreased'"
    [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>

  <div *ngIf="!isLoading">
  
  <div class="col-xs-12">
      <h2>{{( city | async).getName()}}</h2>
  </div>
  
  <div class="col-xs-8">
       <div class="col-xs-2-offset col-xs-4">
           <button class="w3-button w3-white w3-border w3-border-blue w3-round-large"
                    type="button" routerLink = "new/iternary">
                    Add Interniry
            </button>
       </div>
       <div class="col-xs-4">
        <button class="w3-button w3-white w3-border w3-border-blue w3-round-large"
                type="button" (click) = "addNewPlace()">
              Add Place
        </button>
    </div>
  </div>
  <div class="col-xs-6">
        <app-place-list></app-place-list>
  </div>
  <div class="col-xs-6">
      <router-outlet></router-outlet>
  </div>
</div>  
</div>