<div (window:scroll) = "onScroll($event)">
    <div class="cover">
        <swiper *ngIf="place" [config]="config">
            <div  class="swiper-wrapper">
                <img class="swiper-slide" *ngFor="let photo of photos" [src]="photo" > 
                <img *ngIf="photos === null || photos.length == 0" class="swiper-slide"  src="../../../assets/images/download.jpg">
            </div>
            <div *ngIf="photos !== null && photos.length > 0" >
                <div  class="swiper-pagination"></div>
                <div  class="swiper-button-next"></div>
                <div  class="swiper-button-prev"></div>
            </div>
            
        </swiper>
        
    </div>
    <div class="place-container">

    
    <div class="container">
    
          
                <h2>{{place.displayName}}</h2>
               
                <div *ngIf = "place.address">
                        <div class="col-xs-12">
                                <hr>
                        </div>
                        <div class="col-xs-1">
                                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                        </div>
                       <div class="col-xs-11">
                            {{place.address}}
                       </div>
                      
                </div>
           
                
                <div *ngIf = "place.phoneNumber">
                        <div class="col-xs-12">
                                <hr>
                        </div>
                        <div class="col-xs-1">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                       <div class="col-xs-11">
                            {{place.phoneNumber}}
                       </div>
                       
                </div>
            
                
                <div *ngIf = "place.website">
                        <div class="col-xs-12">
                                <hr>
                        </div>
                        <div class="col-xs-1">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                       <div class="col-xs-11">
                            {{place.website}}
                       </div>
                      
                </div>

         
                

                <div *ngIf = "place.opening_text" class = "col-xs-12">
                        <div class="col-xs-12">
                                <hr>
                        </div>
                            <div *ngFor="let text of place.opening_text">
                                    {{text}}
                            </div>
                       
                        
                </div>
           
                <div *ngIf = "place.reviews" class = "col-xs-12">
                        <div class="col-xs-12">
                                <hr>
                        </div>
                    
                        <div *ngFor = "let review of place.reviews">
                                <div class = "col-xs-4">
                                        <div>
                                            <img [src]="review.profile_photo_url" alt="Profile Photo">   
                                        </div>
                                        <div>
                                            {{review.author_name}}
                                        </div>
                                </div>
                                <div class="col-xs-8">
                                       {{review.text}}
                                </div>
                                <div class="col-xs-12">
                                        <hr>
                                </div>

                        </div>
                  

                </div>

               
        </div>  
            
   
       <div   class="map-container" [style.top] = "mapPostionInPixel">
                
        
                <agm-map id = "map" name="map" 
                        [latitude]="place.lat" 
                        [longitude]="place.lng" 
                        [zoom] = "zoom"
                        (mapReady) = "onMapReady($event)"
                        [zoomControl]="false"
                        #map>
                
                        <agm-marker   [latitude]="place.lat" 
                                [longitude]="place.lng">
                        </agm-marker>
               </agm-map>
               <button type="button" (click) = "openInMap()">Open in Google Maps</button>
               
          

       </div>

</div>
    

</div>