<div>
  <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
                [speed]="200" [showSpinner]="false" [direction]="'rightToLeftIncreased'"
                [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>


  <div class="form-group">
    <input placeholder="Search for places you want to visit" 
            autocorrect="off" autocapitalize="off" 
            spellcheck="off" type="text" 
            class="form-control"
            [(ngModel)]="placeName" 
            #search >
  </div>

  <agm-map id = "map" name="map" 
            [latitude]="lat" 
            [longitude]="lng" 
            (boundsChange)="boundsChange($event)" 
            [zoom] = "zoom"
            [zoomControl]="false"
            (mapReady) = "onMapReady($event)"
            #map>

      <agm-marker *ngIf = "showMarker" [latitude]="lat" [longitude]="lng">

        <agm-snazzy-info-window [latitude]="lat" [longitude]="lng" [isOpen]="showInfoWindow"
        [closeWhenOthersOpen]="true">
          <ng-template>
             <p>
              {{selectedPlace.displayName}}
             </p>
              <div class="infowindow">
                 <button (click) = "doAction()"> 
                      {{ isNew == true ?"Save":"Remove" }} 
                 </button>
                 <button (click) = "openInMap()"> 
                       Direction 
             </button>
              </div>
            </ng-template>
           
        </agm-snazzy-info-window>

      </agm-marker>
  
    
  </agm-map>
</div>

