<div class="addNewPlaceMap">
  <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
                [speed]="200" [showSpinner]="false" [direction]="'rightToLeftIncreased'"
                [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>


  <div class="form-group">
    <input placeholder="Search for places you want to visit" 
            autocorrect="off" autocapitalize="off" 
            spellcheck="off" type="text" 
            class="form-control"
            [(ngModel)]="placeName" 
            i18n-placeholder= "search placeholder@@searchPlaceHolder"
            #search >
  </div>

  <agm-map id = "map" name="map" 
            [latitude]="lat" 
            [longitude]="lng" 
            (boundsChange)="boundsChange($event)" 
            [(zoom)] = "zoom"
            [zoomControl]="false"
            (mapReady) = "onMapReady($event)"
            #map>

      <agm-marker *ngFor="let marker of markers" 
                      [latitude]="marker.place.lat" 
                      [longitude]="marker.place.lng" 
                      (markerClick) = "placeSelected(marker)">

        <agm-snazzy-info-window [latitude]="marker.place.lat" 
                                    [longitude]="marker.place.lng" 
                                    [isOpen]="marker.showInfoWindow"
                                    [closeWhenOthersOpen]="true"
                                    padding = "0"
                                    maxHeight="5rem"
                                    (afterClose) = "infoWindowClosed(marker)">

          <ng-template>
                <app-thumbnail-view *ngIf = "showDetailWindow" [photos]="marker.place.photos || []"
                        [title] = "marker.place.displayName"
                        (thumbnailClicked) = "onClicked(marker.place)">
                        <app-thumbnail-actions [config] = "thumbnailActionConfig"  
                                              (iconClicked) ="onIconClicked($event,marker)" ></app-thumbnail-actions>
                      </app-thumbnail-view>

              <div *ngIf = "!showDetailWindow" class="infowindow">
                 {{ marker.place.displayName }}
              </div>
           </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
  </agm-map>

  <div class = "closeOptionForMobile">
      <button  class="btn btn-primary" type="button" (click) = "closeMap()" i18n="close option label@@close_option_label">Close Map View</button>
  </div>

</div>

