<div class="Register">
  
  <i *ngIf = "showSpinner" class = "fa fa-spinner fa-spin" aria-hidden="true" ></i>

  <div *ngIf = "!showSpinner">
    <p class="error" *ngIf= "(authData | async).hasError">
          {{ (authData | async).errorMessage }}
    </p>
    <form (ngSubmit) = "register(f)" #f="ngForm">
      <div id="user-data" ngModelGroup = "userdata">

      <div class="form-group">
            <input type="text" 
                    class="form-control" 
                    id="fullname" 
                    [placeholder]="fullNamePlaceHolder"
                    name="fullname"
                    required
                    ng-pattern="[a-zA-Z][a-zA-Z ]+[a-zA-Z].{3,}$"
                    ngModel
                    #fullname = "ngModel"
                    >
      </div>
      <div class="form-group">
          
           <input type="email" 
                  class="form-control" 
                  id="email" 
                  [placeholder]="emailAddressPlaceHolder"
                  ngModel
                  name="email"
                  required
                  email
                  #email = "ngModel">
      </div>
    </div>
      <div class="form-group">
      
       <input type="password" 
              class="form-control" 
              id="password"
              [placeholder]="passwordPlaceHolder"
              required
              name="password"
              ngModel
              #password = "ngModel"
              ng-pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
     </div>
     <button class="btn btn-primary" [disabled] = "!f.valid" type="submit">{{registerLabel}}</button>
    </form>
    <div class="line"></div>
    <div>
      <p>{{navigateToLoginText}} <a (click) = "goToLogin()">SignIn</a></p>
    </div>
  </div>
</div>
