
    
    <div class = "autocomplete-input">
      <input id = "search" type= "text" 
            autocorrect="off" 
            autocapitalize="off" 
            spellcheck="off" 
            autocomplete="off"
            class="form-control" 
            placeholder="Try any city"
            i18n-placeholder = "autocomplete placeholder@@autocompletePlaceHolder"
            [formControl] = "query$">
       
    </div>
    <div class="autocomplete-list">
       <ul *ngIf = "predictions.length">
           <li *ngFor="let item of (predictions)" >
                <a (click) = "selectItem(item)">
                    <span class="pac-icon"></span>
                    <span class="search-text">
                            <span class="main-text">{{item.structured_formatting ? item.structured_formatting.main_text : item.description}}</span>
                            <span class="secondary-text">{{item.structured_formatting ? item.structured_formatting.secondary_text : ""}}</span>
                    </span>
                </a>
           </li>
       </ul>
    </div>
    

