
.autocomplete-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.autocomplete-list li{
    margin:0;
    padding: 0;
}
.autocomplete-list a{
    display: flex;
    text-decoration: none;
    align-items: center;
    width:100%;
    height: 100%;
    cursor: pointer;
    border: 0.5px solid #eee;
    background-color: white;
    box-sizing: border-box;
    padding: 1rem .5rem;
    z-index: 200;
    position: relative;
}

.autocomplete-list a:hover{
    background-color: #eee;
}

.search-text{
    display: inline-block;
    height: auto;
}

span.main-text{
    font-size: 1em;
    font-weight: 500;
}

span.secondary-text {
    font-weight: 300;   
    font-size: 0.8em;
    color: #918b8b;
}

.autocomplete-input input{
    width:100%;
    margin:.2rem 0 .5rem 0;
    border:.1rem solid #ccc;
    outline: none;
    box-sizing: border-box;
}

span.pac-icon {
    width: 2rem;
    height: 2.2rem;
    background-image: url("../../../assets/images/autocomplete-icons.png");
    background-size: 34px;
    background-position-y: -158px;
    background-position-x: 0;
    padding:0;
    margin: 0;
}

#search {
    color: #777777;
    font-weight: 200;
    font-size: 1em;
}

@media only screen and (max-width:720px) {
  .autocomplete-list a {
    padding: 1rem 1rem;

  }

   span.main-text {
    font-size: 0.8em;
    font-weight: 500;
   }

   span.secondary-text {
    font-size: 0.6em;
   }

  .autocomplete-input input {
    margin: .1rem 0 .2rem 0;
   }

   span.pac-icon {
    display: none;
   }

   #search {
    font-size: 0.8em;
   }
}