.home{
    width: 100%;
}

.autocomplete_text{
    width:80%;
}
.searchhome{
    width: 80%;
    height: 20rem;
    display:block;
    margin: 0 auto;
    padding: 5% 0;
}


.pinnedview{
    margin : 0  10%;
}


.introtext{
    font-size: 2em;
    color:salmon;
    font-weight: bold;
    margin:1rem 0;
}

@media only screen and (max-width:720px ){
    .introtext{
        font-size: 1em;
        margin: 2rem 0;
    }
}