<div class="container">
    <div class="row">
      <div class="col-xs-12">
          <h1>Welcome to trip organizer</h1>
          <br>
          <div class="input-group">
            <input ngui-auto-complete 
                  class = "form-control"
                  [(ngModel)]="selectedPlace" 
                  [source]="observableSource.bind(this)"
                  [list-formatter] = "formatList"
                  value-property-name="id"
                  display-property-name="name" 
                  loading-text=""/>
            <div class="input-group-btn">
                  <button class="btn btn-primary" (click)="selectPlace()">Search</button>
            </div>
           </div>
            
      </div>
    </div>
  </div>