<div class="container">
    <div class="row">
      <div class="col-xs-12">
          <h1>Welcome to trip organizer</h1>
          <br>
          <div class="input-group">
            <input auto-complete 
                  class = "form-control"
                  [(ngModel)]="myData" 
                    [source]="mySources" />
            <div class="input-group-btn">
                  <button class="btn btn-primary">Search</button>
                </div>
            </div>
            
      </div>
    </div>
  </div>