.searchhome{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:center;
}


.pinnedview{
    margin : 0  10%;
}


.introtext{
    font-size: 2em;
    color:salmon;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}