<div class="container">
    <div class="row">
      <div class="col-xs-12">
          <h1>Welcome to trip organizer</h1>
          <br>
           <div class="searchinput">
            <app-google-autocomplete offset = 2 (selectPrediction) = "selectCity($event)"> </app-google-autocomplete>
           </div>
           
           <div class="pinnedview">
            <hr>
            <app-pinned-view (selectPinnedCity) = "selectPinnedCity($event)"></app-pinned-view>
           </div>
           
            
      </div>
    </div>
  </div>