:host{
    width: 70%;
    height: 100%;
    background-color: white;
    color:#777;
    font-size: 1rem;
    font-weight: 800;
    position: fixed;
    top:0;
    left: 0;
    z-index: 400;
    font-size: 2rem;
}

.sidebar__list {
    list-style: none;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 2rem;
}

.sidebar__header {
  padding: 2rem;
  font-size: 2rem;
  border-bottom: 1px solid salmon;
}

.sidebar__item {
  font-size: 2rem;
  padding:1rem;
}

a:link,
a:visited,
a
 {
  text-decoration: none;
  color:inherit;
}

a:active {
  color:salmon;
  text-decoration: none;
}

.brand{
    margin: 0 auto;
    display: inline-block;
}

.sidebar-brand{
    width: 80%;
    display: inline-block;
    text-align: center;
}