<app-backdrop (clicked)  = "backdropClicked()"></app-backdrop>
<div class="sidebar">
  <div class="sidebar-header">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <div class="sidebar-brand">
          <span class="brand"><i class="fa fa-suitcase"></i>
            Header
         </span>
      </div>
      
  </div>
  <ul>
    <li> <a href="#" class="sidebar-item"> Menu item 1</a></li>
    <li> <a href="#" class="sidebar-item"> Menu item 1</a></li>
    <li> <a href="#" class="sidebar-item"> Menu item 1</a></li>
  </ul>
</div>
