
<div class="container">
   <div class="row">
       <div class="col-sm-6">
             <p>
                This is a trip organiser app.
             </p>
       </div>
       <div class="col-sm-6">
          <form (ngSubmit) = "onSubmit()">
             <div class="form-group">
                  <label for="email">Enter email</label>
                  <input type="text" class="form-control" id="email">
             </div>
             <div class="form-group">
              <label for="password">Enter password</label>
              <input type="password" class="form-control" id="password">
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
          </form>
       </div>
   </div>
</div>