<div class = "thumbnail" (mouseenter) = "hovered()" (mouseleave) = "onMouseLeave()">
    
    <swiper *ngIf="hover" [config]="config" #usefulSwiper>
        <div  class="swiper-wrapper">
            <img class="swiper-slide" *ngFor="let photo of photos" [src]="photo.small"> 
            <img *ngIf="photos === null || photos.length == 0" class="swiper-slide"  src="../../../assets/images/download.jpg">
            <div class = "actions">
                <ng-content></ng-content>
             </div>
        </div>
        
        <div  class="swiper-pagination"></div>
        <div  class="swiper-button-next"></div>
        <div  class="swiper-button-prev"></div>
      </swiper>
    <swiper *ngIf = "!hover" [config]="config" #usefulSwiper>
      <div  class="swiper-wrapper">
          <img class="swiper-slide" *ngFor="let photo of photos" [src]="photo.small"> 
          <img *ngIf="photos === null || photos.length == 0" class="swiper-slide"  src="../../../assets/images/download.jpg">   
      </div>
      
    </swiper>
  <p><strong>{{title}}</strong></p>
</div>