<div class = "thumbnail" (mouseenter) = "hovered()" (mouseleave) = "onMouseLeave()">
    <div class="content-container">
            <swiper [config]="config" (indexChange) = "swiperIndexChange($event)">
       
                <img (click) = "onMouseClicked()" 
                *ngIf="(!photos || photos === null || photos.length == 0) ; else withPhotos" 
                class="swiper-slide"  
                src="../../../assets/images/download.jpg">    
                <ng-template #withPhotos> 
                        <image-view (click) = "onMouseClicked()" 
                            class="swiper-slide" 
                            *ngFor="let photo of photos" 
                            [image]="photo.small"
                            [scrollObservable] = "scrollOrChangeImage$"
                            > </image-view>
                </ng-template>        
            </swiper>
            <div *ngIf="hover" class = "actions">
                    <ng-content></ng-content>
            </div>
    </div>
    
  <p><a (click) = "onMouseClicked()" ><strong>{{title}}</strong></a></p>
</div>