.place-item {
   width: 30rem;
   height: 25rem;
   border: 1px solid #eee;
   box-shadow: 1px 3px 1px #cccccc;
   box-sizing: border-box;
}


@media only screen and (max-width:720px) {
  .place-item {
    width: 100%;
  }
}