<div class="loginPage">
    <i *ngIf = "showSpinner" class = "fa fa-spinner fa-spin" aria-hidden="true" ></i>

    <div *ngIf = "!showSpinner">
        <p class="error" *ngIf= "(authData | async).hasError">
            {{ (authData | async).errorMessage }}
        </p>
        <form (ngSubmit) = "login(f)" #f="ngForm">
            <div class="form-group">
                
                <input type="email" 
                        class="form-control" 
                        id="email" 
                        placeholder="Email Address"
                        ngModel
                        name="email"
                        required
                        email
                        #email = "ngModel">
            </div>
            <div class="form-group">
                    <input type="password" 
                            class="form-control" 
                            id="password"
                            required
                            name="password"
                            placeholder="Password"
                            ngModel
                            #password = "ngModel"
                            ng-pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                    >
            </div>
            <button class="btn btn-primary" [disabled] = "!f.valid" type="submit">Login to Continue</button>
         </form>
         <div class="line"></div>
         <div>
              <p>Dont have an Account ? <a (click)="goToRegister()">SignUp</a></p>
         </div>

      </div>
</div>
