<div class="loginPage">
    <i *ngIf = "showSpinner" class = "fa fa-spinner fa-spin" aria-hidden="true" ></i>

    <div *ngIf = "!showSpinner">
        <p class="error" *ngIf= "(authData | async).hasError">
            {{ (authData | async).errorMessage }}
        </p>
        <form (ngSubmit) = "login(f)" #f="ngForm">
            <div class="form-group">
                
                <input type="email" 
                        class="form-control" 
                        id="email" 
                        placeholder="Email Address"
                        ngModel
                        name="email"
                        required
                        email
                        #email = "ngModel"
                        i18n-placeholder= "email placeholder@@emailPlaceHolder">
            </div>
            <div class="form-group">
                    <input type="password" 
                            class="form-control" 
                            id="password"
                            required
                            name="password"
                            placeholder="Password"
                            ngModel
                            #password = "ngModel"
                            i18n-placeholder= "password placeholder@@passwordPlaceHolder"
                            ng-pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
            </div>
            <button class="btn btn-primary" 
                    [disabled] = "!f.valid" 
                    type="submit"  
                    i18n="login to continue label@@login_to_continue">Login to Continue</button>
         </form>

         <div class="line"></div>
         <div>
              <p> <span i18n="navigate to register@@navigateToRegister"> Dont have an Account ? </span> <a (click)="goToRegister()" i18n="signup label@@signup">SignUp</a></p>
         </div>

      </div>
</div>
