<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
         
          <a    *ngIf="currentUrl !== HOME_URL"
                class="nav navbar-nav navbar-left backbutton" style="cursor:pointer;"
                (click)="goBack()"
                  ><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></a>
          <a class="navbar-brand" routerLink="/">
                   <strong>Trip Organizer</strong>
          </a>
        
        
      </div>
      <div class="collapse navbar-collapse">
        
        <ul class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav" *ngIf = "!(authState | async).authorised else loggedInUser">
            <li routerLinkActive = "active">
               <a style="cursor:pointer;"  (click)="logIn()">SignIn</a>
            </li>
            <li routerLinkActive = "active">
                <a style="cursor:pointer;" (click)="register()">SignUp</a>
              </li>
          </ul>
          <ng-template #loggedInUser>
            <li class = "dropdown" appDropDown>
                
                <a  class  = "dropdown-toggle" role="button">{{ (authState | async).user.fullName }} <span class = "caret"></span></a>
              <ul class = "dropdown-menu">
                <li><a style="cursor:pointer;" (click) = "logOut()">Logout</a></li>
              </ul>
               
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>