.navbar{
    z-index: 50;
    background-color: white;
    width:100%;
    margin: 0;
    padding: 0;
}

ul.right-nav > li {
   
    background-color: white;
}

ul.right-nav > li > a {
    font-weight: bold;
}



ul.left-nav > li > a {
    font-weight: normal;
}

.navbar-default{
    border:none;
}