<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand desktopOnly" routerLink="/">
            <i class="fa fa-suitcase"></i>
            <span class="brandname" i18n = "Name of the app@@AppName">Trip Organiser</span>
          </a>

          <a class="navbar-brand mobile" (click) = "toggleSideDrawer()">
            <i class="fa fa-bars"></i>
          </a>
          <span class="brandname mobile" i18n = "Name of the app@@AppName">Trip Organiser</span>
      </div>
      
      <div class="collapse navbar-collapse">
       
        <ul class="nav navbar-nav navbar-left left-nav" *ngIf="(city$|async) as city">
            <li><a class="cityStyle" style="cursor:pointer;" (click) = "gotoCity()">{{ city.name }}</a></li>
        </ul>  
       
        <ul class="nav navbar-nav navbar-right desktopOnly">
          <ul class="nav navbar-nav right-nav" *ngIf = "!(authState | async).authorised else loggedInUser">
            <li routerLinkActive = "active">
               <a style="cursor:pointer;"  (click)="logIn()" i18n="signin label@@signin">SignIn</a>
            </li>
            <li routerLinkActive = "active">
                <a style="cursor:pointer;" (click)="register()" i18n="signup label@@signup">SignUp</a>
              </li>
          </ul>
          <ng-template #loggedInUser>
            <li class = "dropdown" appDropDown>
                
              <a  class  = "dropdown-toggle" role="button">{{ (authState | async).user.fullName }} <span class = "caret"></span></a>
              <ul class = "dropdown-menu">
                <li><a style="cursor:pointer;" (click) = "logOut()" i18n="logout label@@logout">Logout</a></li>
              </ul>
               
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>