.navbar{
    z-index: 50;
    background-color: white;
    width:100%;
    margin: 0;
    padding: 0;
    height: 6.5rem;
}

.navbar-brand{
    margin: 1rem;
}

ul.navbar-nav > li {
    border: .1rem solid salmon;
    border-radius: .5rem;
    margin: 1rem;
    background-color: white;
}

ul.navbar-nav > li > a {
    padding: 1rem;
    font-weight: bold;
}

.backbutton {
    padding: 1rem;
    font-weight: bold;
    margin: 1rem;
    border: none;
    color: salmon;
}
