.place-list{
    
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
}



.place-list >div > p{
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.emptysection{
    color:#777;
    font-weight: 700;
}
