.place-list{
    text-align: center;
    padding: 10px;
    border: 0.5px solid #eee;
    box-sizing: border-box;
    box-shadow: 0 1px 3px #ccc;
    height: 100%;
    min-height: 350px;
    width: 100%;

}

.place-list p{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

