<div class="place-list">
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12" 
                 style= "margin-top:20px;" 
                 *ngFor = "let place of (savedplaces); let i = index">
                <app-place-item [place] = "place" [shadow] = true>      </app-place-item>
            </div>  
          </div>
    </div>
  
  <div *ngIf = "showEmptySection" >
     <p class="emptysection">See your pinned places here</p>  
  </div>  
</div>



